body {
  margin: 0 !important;
  padding: 0 !important;
}
.body-color {
  background-color: #e5e8e8;
}
.font-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  /* font-weight: bold; */
}
.sub-headng {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.padding-top {
  padding-top: 50px;
}
.display-inline {
  display: inline-block;
}
.display-inline-button {
  display: inline-block;
  margin-left: 80%;
}
.skills {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
}
.skills button {
  background-color: #e5e8e8;
  color: black;
  border-color: #e5e8e8;
}
.skills button:hover {
  pointer-events: none;
  background-color: #e5e8e8;
  color: black;
  border-color: #e5e8e8;
}
.btn-purple {
  margin-top: 20px;
  background-color: #6235d8;
  color: #fff;
}
.btn-purple:hover {
  background-color: #6235d8;
  color: #fff;
  border-color: #6235d8;
}
